
<input style="position:absolute;visibility:hidden;height:100%;width:100%;" placeholder="{{timeString}}"/>

<div class="time-container{{if showButton '' ' clickable'}}" {{action 'containerOpenClose' bubbles=false}}>
	<span class="time" {{action 'containerOpenClose' bubbles=false}}>{{startTimeString}}</span>

	{{#if isDateRange}}
		<span class="time" {{action 'containerOpenClose' bubbles=false}}>{{endTimeString}}</span>
	{{/if}}

	{{#if showButton}}
		<a class="button c-icon calendar-icon" {{action 'openClose' bubbles=false}}>{{buttonText}}</a>
	{{/if}}
</div>

